<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Advanced Search | PHP</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
	<form class="row" action="" method="post">
		<div class="col-11">
			<input type="text" name="q"
			 id="search-query" class="form-control"
			 autocomplete="off">
			<div id="result"></div>
		</div>
		<div class="col-1">
			<button class="btn btn-success" id="search-btn">Search</button>
		</div>
	</form>
</div>